<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/common_header.html"></div>

<body>
	<form th:action="@{/marketstore/marketstoreedit/}" method="POST"
		th:object="${form}">
		<div class="publicHeader" th:insert="~{fragments/header :: header}">...</div>
		<!--时间-->
		<section class="publicTime">
			<span id="time">2015年1月1日 11:11 星期一</span> <a href="#">メッセージ</a>
		</section>
		<!--主体内容-->
		<section class="publicMian ">

			<div class="left" th:insert="~{fragments/left :: left}">...</div>
			<div class="right">
				<div class="location">
					<strong>画面情報：</strong> <span>社員編集</span>
				</div>
				<div class="providerDetail">

					<div class="div_edit_row">
						<label>販売店ID：</label>
						    <input name="storeIdShow" type="text" th:value="${form.storeId}" th:field="*{storeId}" th:disabled="disabled" />
						    <input name="storeId" type="hidden" th:value="${form.storeId}" th:field="*{storeId}" />
					</div>
					<div class="div_edit_row">
						<label>販売店名：</label>
                        <input name="storeName" type="text" th:value="${form.storeName}" th:field="*{storeName}" />
                        <span th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}" style="color: red"></span>
					</div>
					<div class="div_edit_row">
						<label>住所：</label> <input name="address" type="text"
							th:value="${form.address}" th:field="*{address}" /> <span
							th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
							style="color: red"></span>
					</div>
					<div class="div_edit_row">
						<label>phone：</label> <input name="phone" type="text"
							th:value="${form.phone}" th:field="*{phone}" /> <span
							th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
							style="color: red"></span>
					</div>
					<div class="div_edit_row">
						<label>営業開始年月日：</label> <input name="startDay" type="date"
							th:value="${form.startDay}" th:field="*{startDay}" /> <span
							th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}"
							style="color: red"></span>
					</div>
					<div class="div_edit_row">
						<label>営業終了年月日：</label> <input name="finishDay" type="date"
							th:value="${form.finishDay}" th:field="*{finishDay}" /> <span
							th:if="${#fields.hasErrors('finishDay')}" th:errors="*{finishDay}"
							style="color: red"></span>
					</div>											
					<div class="providerDetailBtn">
						<input type="submit" id="update" name="update" value="更新" /> 
						<input type="submit" value="返回" id="gotoMarketStoreList" name="gotoMarketStoreList" />
					</div>
				</div>
			</div>
		</section>
		<footer class="footer"> </footer>
	</form>
	<!-- 共通Js -->

	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/js.js}"></script>
	<script type="text/javascript" th:src="@{/js/time.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<!-- 画面Js -->
	<script type="text/javascript" th:src="@{/js/employee/employeelist.js}"></script>
</body>
</html>