<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/common_header.html"></div>

<body>
	<form th:action="@{/practice3/calculateinvoice}" method="POST"
		th:object="${form}">

		<div class="publicHeader" th:insert="~{fragments/header :: header}">...</div>
		<!--时间-->
		<section class="publicTime">
			<span id="time">2015年1月1日 11:11 星期一</span>
		</section>
		<!--主体内容-->
		<section class="publicMian ">

			<div class="left" th:insert="~{fragments/left :: left}">...</div>
			<div class="right">
				<div class="location">
					<strong>画面情報：</strong> <span>請求書計算</span>
				</div>
				<div class="providerDetail">
				<div class="div_edit_row">
					    <!-- エラーメッセージの一覧表示 -->
					    <span th:if="${form.errorMessage}"  th:text="${form.errorMessage}" style="color: red;">Error</span>
				    </div>
				    
					<div class="div_edit_row">
						<label>社員ID</label> <input name="employeeId"
							type="text" th:value="${form.employeeId}" th:field="*{employeeId}" />
						<span th:errors="*{employeeId}" style="color: red"></span>
					</div>
					<div class="div_edit_row">
						<label>年月</label> <input name="workMonth"
							type="month" th:value="${form.workMonth}" th:field="*{workMonth}" />
						<span th:errors="*{workMonth}" style="color: red"></span>
					</div>
					
					<div class="providerDetailBtn" style="margin-left: 45px;margin-top: 0px;">
						<input type="submit" id="calculate" name="calculate"
							value="計算" style="margin-left: 5px; margin-top: 5px;" />
					</div>
					<div class="div_edit_row">

						<table class="providerTable" th:if="${form != null}">
							<tr class="firstTr">
								<th width="20%">会社名</th>
								<th width="10%">社員名</th>
								<th width="10%">社員ID</th>
								<th width="10%">勤務年月</th>
								<th width="10%">請求先</th>
								<th width="10%">標準時間</th>
								<th width="10%">出勤時間</th>
								<th width="10%">給料</th>
								<th width="10%">残業・控除</th>
							</tr>
							<tr th:if="${!#lists.isEmpty(form.results)}"
								th:each="data,stat : ${form.results}">

								<td th:text="${data.companyName}"></td>
								<td th:text="${data.employeeName}"></td>
								<td th:text="${data.employeeId}"></td>
								<td th:text="${data.workMonth}"></td>
								<td th:text="${data.requestFirst}"></td>
								<td th:text="${data.standardBusinessHours}"></td>
								<td th:text="${data.realWorkHous}"></td>
								<td th:text="${data.salary}"></td>
								<td th:text="${data.disabledGeneration}"></td>

							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer"> </footer>

	</form>

	<!-- 共通Js -->
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/js.js}"></script>
	<script type="text/javascript" th:src="@{/js/time.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>

</body>
</html>