<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.mapper.salarydetaillist.SalaryDetailListScreenMapper">
	
	<select id="select"
		parameterType="com.cms.entity.salarydetaillist.CmsSalaryDetailBean"
		resultType="com.cms.entity.salarydetaillist.CmsSalaryDetailBean">
        SELECT
        sal.employeeId,
        sal.salaryMonth,
        CONCAT(sal.salary,"円") as salary,
        sal.workhours,
        sal.disabledGeneration,
        sal.cost,
        sal.employeeId,
        sal.actualSalary,
        eml.name as employeeNm
        FROM
        cms_salary_detail sal
        left join cms_employee eml on sal.employeeId = eml.employeeId
		where 1=1 
		<if test="employeeId != null">
			and sal.employeeId = #{employeeId}
		</if>
		<if test="salaryMonth != null">
			and sal.salaryMonth =#{salaryMonth}
		</if>
		order by sal.employeeId asc, sal.salaryMonth DESC
	</select>

</mapper>