<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社内システム</title>
<link th:href="@{/css/public.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<form th:action="@{/entering/enteringlist}" method="POST"
		th:object="${form}">
		<div class="publicHeader" th:insert="~{fragments/header :: header}">...</div>
		<!--时间-->
		<section class="publicTime">
			<span id="time">2015年1月1日 11:11 星期一</span> <a href="#">メッセージ</a>
		</section>
		<!--主体内容-->
		<section class="publicMian">
			<div class="left" th:insert="~{fragments/left :: left}">...</div>
			<div class="right">
				<div class="location">
					<strong>画面情報：</strong> <span>入場管理 >> 一覧画面</span> <br /> <span
						th:if="${errorMessage!=null}" th:text="${errorMessage}"></span>
				</div>
				<div class="search" style="width: 100%; display: inline-block;">
					<table>
						<tr>
							<td colspan="1">社員ID：</td>
							<td colspan="1"><input type="text" placeholder="社員名前をご入力ください。" /> <!-- 非表示の明細ボタン -->
								<input type="submit" name="read" id="read"
								style="display: none;" /> <input type="submit" name="update"
								id="update" style="display: none;" /> <input type="submit"
								name="delete" id="delete" style="display: none;" /></td>
						</tr>
						<tr>
							<td colspan="1">顧客：</td>
							<td colspan="1">
								<div th:each="gender : ${form.genders}"
									style="display: inline-block;">
									<input type="radio" name="gender" th:id="${gender.id}"
										th:value="${gender.value}" th:field="*{selectGender}"
										th:checked="${gender.value == form.selectGender}"
										placeholder="社員区分をご選択ください。" /> <label th:for="${gender.id}"
										th:text="${gender.label}"
										style="width: 30px; text-align: left;"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" id="select" name="select"
								value="検索" /> <input type="submit" id="add" name="add"
								value="新規" /></td>
						</tr>
					</table>
				</div>
				<div style="padding-top: 10px;">
					<!--用户-->
					<table class="providerTable" th:if="${form != null}">
						<tr class="firstTr">
							<th width="10%">入場管理ID</th>
							<th width="20%">入場日付</th>
							<th width="10%">退場予定日付</th>
							<th width="10%">社員</th>
							<th width="10%">顧客</th>
							<th width="10%">退場状況</th>
							<th width="20%">アクション</th>
						</tr>
						<tr th:if="${!#lists.isEmpty(form.results)}"
							th:each="data,stat : ${form.results}">
							<td th:text="${data.employeeId}"></td>
							<td th:text="${data.name}"></td>
							<td th:text="${data.sex}"></td>
							<td th:text="${data.birthday}"></td>
							<td th:text="${data.phone}"></td>
							<td th:text="${data.phone}"></td>
							<td><img th:src="@{/img/read.png}" alt="参照" title="参照"
								onclick="clickRead(this);" th:value="${data.employeeId}" /> <img
								th:src="@{/img/update.png}" alt="更新" title="更新"
								onclick="clickUpdate(this)" th:value="${data.employeeId}" /> <img
								th:src="@{/img/delete.png}" alt="削除" title="削除"
								onclick="clickDelete(this)" th:value="${data.employeeId}" /></td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<!--削除ボタンを押下後、ポップアップDIV画面が表示される-->
		<div class="zhezhao"></div>
		<div class="remove" id="removeUse">
			<div class="removerChid">
				<h2>提示</h2>
				<div class="removeMain">
					<p>削除したらよろしいでしょうか</p>
					<a href="#" id="yes">削除</a> <a href="#" id="no">キャンセル</a>
				</div>
			</div>
		</div>

	</form>
	<div class="footer" th:insert="~{fragments/footer :: footer}">...</div>

	<!-- 共通Js -->
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/js.js}"></script>
	<script type="text/javascript" th:src="@{/js/time.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<!-- 画面Js -->
	<script type="text/javascript" th:src="@{/js/employee/employeelist.js}"></script>
</body>
</html>