<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/common_header.html"></div>

<body>
	<form th:action="@{/practice2/registcsv}" method="POST"
		th:object="${form}">

		<div class="publicHeader" th:insert="~{fragments/header :: header}">...</div>
		<!--时间-->
		<section class="publicTime">
			<span id="time">2015年1月1日 11:11 星期一</span>
		</section>
		<!--主体内容-->
		<section class="publicMian ">

			<div class="left" th:insert="~{fragments/left :: left}">...</div>
			<div class="right">
				<div class="location">
					<strong>画面情報：</strong> <span>CSV取込</span>
				</div>
				<div class="providerDetail">

					<div class="div_edit_row">
					    <!-- エラーメッセージの一覧表示 -->
					    <span th:if="${form.errorMessage}"  th:text="${form.errorMessage}" style="color: red;">Error</span>
				    </div>
					<div class="div_edit_row">
						<label>CSVファイル：</label>
						<input name="filePath" type="text" th:value="${form.filePath}" th:field="*{filePath}" />
                        <span th:if="${#fields.hasErrors('filePath')}" th:errors="*{filePath}" style="color: red"></span>
					</div>

					<div class="div_edit_row">
						<label>CSV項目数：</label>
                        <input name="itemCount" type="text" th:value="${form.itemCount}" th:field="*{itemCount}" />
                        <span th:if="${#fields.hasErrors('itemCount')}" th:errors="*{itemCount}" style="color: red"></span>
					</div>

					<div class="providerDetailBtn"
						style="margin-left: 45px; margin-top: 0px;">
						<input type="submit" id="loadCsv" name="loadCsv" value="CSV取込"
							style="margin-left: 5px; margin-top: 5px;" />
					</div>

				</div>
			</div>
		</section>
		<footer class="footer"> </footer>

	</form>

	<!-- 共通Js -->
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/js.js}"></script>
	<script type="text/javascript" th:src="@{/js/time.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>

</body>
</html>